# C++ compiled files
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib

# CMake files
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
CMakeSettings.json

# VS Code directory
.vscode/

# SFML files
assets/
bin/
dependencies/
SFMLConfig.cmake
SFMLConfigVersion.cmake

# nlohmann JSON files
nlohmann/
config.json

# macOS
.DS_Store
